<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CA1 - Back-end Web Development</title>
</head>

<body>

  <h2>Class Registration</h2>
  <hr>
  <form action="/show" method="POST">
    <input type="text" name="Class" placeholder="Class name"></br>
    <input type="text" name="Personal" placeholder="Personal name"></br>
    <input type="text" name="Weekday" placeholder="day of the week"></br>
    <input type="text" name="Duration" placeholder="in minutes "></br>
    <input type="text" name="Room" placeholder="Room"></br>
    <input type="text" name="Price" placeholder="€"></br>
    <button type="submit">Save</button>
    <button><a href="/show">View table</a></button>

  </form>
</body>

</html>